.jumbotron{
    background-color: rgb(218, 163, 163);
    color: #ffffff;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(218, 163, 163);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    background-color: black;
    border-color: black;
}
.btn-reserva:hover{
    background-color: rgb(218, 163, 163);
    border-color: rgb(218, 163, 163);
    color: black;
}

.footer-address-icon{
    padding-right: 10px;
}
